@model YK.Web.Api.Models.Localization.LanguageModel
@{
    ViewData["Title"] = "Dil Güncelle";
}

<h2>Dil Güncelle - @Model.Name</h2>

@using (Html.BeginForm("Update", "Language", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control rounded" } })
    @Html.EditorFor(model => model.LanguageCulture, new { htmlAttributes = new { @class = "form-control rounded" } })

    <input type="submit" value="Güncelle" />
}